body{
    font-family: 'Roboto', sans-serif;
    background: #E8CBC0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#container{
    width: 360px;
    margin: 150px auto;
    background-color: #f7f7f7;
}

h1{
    background-color: #2980b9;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px;
    color: white;
}

.fa-plus{
    float: right;
}

input{
    font-size: 22px;
    margin: 0;
    padding: 13px 20px;
    width: 100%;
    background-color: #f7f7f7;
    box-sizing: border-box;
    border: none;
}

input:focus{
    background-color: #fff;
    outline: none; 
    border: 2px solid #2980b9;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background-color: #f7f7f7;
    line-height: 40px;
    height: 40px;
    color: #666;
}

li:nth-child(2n){
    background-color: white;
}

span{
   height: 40px;
   background-color: #e74c3c;
   text-align: center;
   color: white;
   margin-right: 20px;
   width: 0;
   display: inline-block;
   opacity: 0;
   transition: 0.2s linear;
}

li:hover span{
    width: 40px;
    opacity: 1;
}


.completed{
    color: gray;
    text-decoration: line-through;
}
